body > header {
    color: white;
    text-shadow: 0 0 5px black;
    background-color: var(--indigo-dye);
    box-shadow: 2px 2px 5px var(--jet);
    grid-column-start: 1;
    grid-column-end: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    padding-top: 0.05em;
    padding-block: 1em;
    padding-inline: 1em;
    flex-wrap: wrap;
    position: sticky;
    z-index: 2;
    top: 0;
    h1 {
        text-align: left;
        font-family: serif;
        padding-inline: min(1.3em, 100vw - 12ch);
        font-family: var(--crimson-text);
        margin: 0;
        padding-block: 0.5em;
        position: sticky;
        font-family: 'Sahitya';
        font-weight: bold;
        color: white;
        font-variant:small-caps;
        text-shadow: 3px 3px 3px var(--jet),-3px -3px 3px var(--jet), 0px 0px 10px var(--caribbean-current);
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }
    search {
        width: max-content;
        * {
            padding-inline: .75em;
            padding-block: .75em;
            border: 0;
            border-radius: .75em;
        }
        input {
            width: min(40ch, 40vw);
        }
        button {   
    	    background-color: var(--indigo-dye);
    	    color: white;
	        font-family: var(--sans);
	        margin-left: 3px;
	        text-align: center;
  	        border: 2px solid #fff;  			    
	    }
	    button:hover {
   	        background-color: #fff;
    	    color: #000;
    	    border: 2px solid #000;
            margin-left: 3px;
            box-shadow: 2px 2px 2px #fff;	
    	}
	    button:active { 
    	    color: #fff;
   	        background-color:#6c757d ;
	        margin-left: 3px;
            border: 1px solid #fff;   
	        box-shadow: 2px 2px 2px #fff;
        }			
	}
}