:root {
    --jet: rgba(53, 53, 53, 1);
    --caribbean-current: rgba(60, 110, 113, 1);
    --white: rgba(255, 255, 255, 1);
    --platinum: rgba(217, 217, 217, 1);
    --indigo-dye: rgba(40, 75, 99, 1);
    
    --sahitya: 'Sahitya', sans-serif;
    --sans: 'PT Sans', sans-serif;
    --crimson: 'Crimson Text', serif;
}


h2 {
	color: var(--jet);
	font-family: var(--crimson);
}

label {
	font-family: var(--crimson);
}

button {
	background-color: var(--platinum);
	font-family: var(--sahitya);
	align-items: center;
  	border: 0;
  	border-radius: 8px;
  	box-shadow: var(caribbean-current);
  	box-sizing: border-box;
	line-height: 1em;
  	max-width: 100%;
  	min-width: 140px;
  	padding: 19px 24px;
  	text-decoration: none;
  	user-select: none;
    	cursor: pointer;

}