:root {
    --jet: rgba(53, 53, 53, 1);
    --caribbean-current: rgba(60, 110, 113, 1);
    --white: rgba(255, 255, 255, 1);
    --platinum: rgba(217, 217, 217, 1);
    --indigo-dye: rgba(40, 75, 99, 1);
    --sahitya: "Sahitya";
    --crimson-text: "Crimson Text", "Garamond", Times, serif
}