/*
Font Combination: 
    Montserrat (bold)
    Josefin Slab
    Hind Madurai
*/
/*
Color Scheme: 
    $jet: rgba(53, 53, 53, 1);
    $caribbean-current: rgba(60, 110, 113, 1);
    $white: rgba(255, 255, 255, 1);
    $platinum: rgba(217, 217, 217, 1);
    $indigo-dye: rgba(40, 75, 99, 1);
*/
p, a, section, article, blockquote, cite{
    font-family: 'Hind Madurai';
}
#title{
    font-family: 'Roboto Slab';
    
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0; 
    font-size: 3.2em;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(53,53,53,1);
    text-shadow: 4px 4px 6px rgba(40, 75, 99, 1);
    box-shadow: 0px 1px 6px rgba(40, 75, 99, 1);
    font-variant:small-caps;
    letter-spacing: 2px;
    

}
#profileAndTitle{
    height: 10%;
}
header{

    width: 100%;
    padding: 0;
    margin: 0;
}
nav{
    width: 100%;
    color: white;
    padding: 0;
    margin:0;
}
nav div ul{
    width: 50%;
    margin: auto;
}
nav div ul li{
    width: 100%;
    text-align: center;
    
}
nav div ul li a{
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Josefin Slab';
}
.line{
    background-color: rgba(53,53,53,1);
    width: 80%;
    margin: auto;
    height: 2px;
    box-shadow: 0px 0px 4px rgba(40, 75, 99, 1);
    border-radius: 2px
}

h2, h3, h4, h5, h6{
    font-family: 'Josefin Slab';
    
    font-variant: small-caps;
}

main{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    
}

.idea{
    width: 80%;
    margin: auto;
    border-radius: 30px;
    margin-top: 1em;
    box-shadow: 0px 0px 5px black, 0px 0px 10px rgba(40, 75, 99, 1);
    border: 3px solid rgba(53,53,53,1);
    
}
.idea .ideaHeader{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    background-color: rgba(53,53,53,1);
}
.idea .ideaHeader h2{
    font-family: 'Roboto Slab';
    color: white; 
    font-size: 2em;
    text-align: center;
}
.idea .ideaHeader h3{
    font-size: 1.3em;
    color: white;
}
.idea .ideaBody{
    text-shadow: 0px 0px 1px rgba(217, 217, 217, 1);
    padding: 1em;
}
.idea .ideaBody .ideaImage{
    width: 70%;
    margin: auto;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid rgba(53,53,53,1);
    box-shadow: 0px 0px 2px black;
}
