/*
Color Scheme: 
    $jet: rgba(53, 53, 53, 1);
    $caribbean-current: rgba(60, 110, 113, 1);
    $white: rgba(255, 255, 255, 1);
    $platinum: rgba(217, 217, 217, 1);
    $indigo-dye: rgba(40, 75, 99, 1);

Font Family:

    Domine, Sahitya
    EB Garamond
    Crimson Text
*/

:root {
    --jet: rgba(53, 53, 53, 1);
    --caribbean-current: rgba(60, 110, 113, 1);
    --white: rgba(255, 255, 255, 1);
    --platinum: rgba(217, 217, 217, 1);
    --indigo-dye: rgba(40, 75, 99, 1);
}

h2, h3, h4, h5 {
    font-family: 'PT Sans';
}

body {
    font-family: 'Crimson Text';
    background-color: var(--platinum);
    display: grid;
    grid-template-columns: 1em auto 1fr auto 1em;
    align-items: start;
    align-content: start;
    margin: 0;
    color: #212529;
    line-height: 1.5;
}
body > header {
    background-color: var(--indigo-dye);
    box-shadow: 2px 2px 5px var(--jet);
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    padding-block: 1em;
}
h1 {
    font-family: 'Sahitya';
    font-weight: bold;
    color: white;
    font-variant:small-caps;
    text-shadow: 3px 3px 3px var(--jet),-3px -3px 3px var(--jet), 0px 0px 10px var(--caribbean-current);
    margin: 0;
    padding: 0;
}

search {
    margin: .1em;
    text-align: right;
}

main{
    max-width: 80ch;
    justify-self: center;
}

nav {
    grid-column: 2;
    align-self: stretch;
}
main {
    grid-column: 3;
}
aside {
    grid-column: 4;
}
nav, main, aside {
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0px 0px 5px var(--jet), 0px 0px 10px var(--indigo-dye);
}

.column{
    padding: .3em;
}

.ideaHeader h2{
    font-weight: bold;
    font-variant: small-caps;
    vertical-align: super;
    text-align: right;
}

.ideaHeader h3{
    vertical-align:bottom;
}
.line{
    height: 2px;
    background-color: rgba(40, 75, 99, 1);
    box-shadow: 0px 0px 4px var(--jet);
    border-radius: 3px;
    width: 90%;
    margin:auto;
    margin-top: 3px;
}

.profile{
    border-radius: 30%;
    margin-top: 5px;
}
.profileName{
    vertical-align:text-bottom;
    font-weight: bold;
}
.postProfileDate, .profileName{
    margin: 0;
    padding:0;
}

footer {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: var(--indigo-dye);
    color: white;
}

@media only screen and (max-width: 777px) {
    nav, main, aside {
        grid-column-start: 1;
        grid-column-end: 6;
    }
}

nav ul {
    list-style: none;
    padding: 0;;
}